<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi recusandae fugiat error tempore debitis. Cupiditate vitae delectus quaerat quasi vel cumque veritatis, veniam, atque minima beatae ratione rerum velit ipsum.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope">email</i></li>
            </ul>
            <ul>
                <li><i class="fa-solid fa-phone">(00) 0000-0000</i></li>
            </ul>
            <ul>
                <li><i class="fa-brands fa-whatsapp">(00) 0 0000-0000</i></li>
            </ul>
        </address>
        <section class="footer__copyright">
            &copy; Todos os direitos reservados
        </section>
    </div>
</footer>